.info-controll i{
	margin-right: 20px !important;
	margin-left: 20px !important;
}

.itemlist{
	cursor: pointer;
}

.itemlist:hover{
	cursor: pointer;
    background-color: #eee;
}

.scroller{
    overflow-y: scroll;
    height: 335px;
    overflow-x: hidden;
}

.info-controll a{
    margin-left: 20px;
    color: #fff !important;
    cursor: pointer;
}